<div class="wrapper">
    <header class="main-header">
        
        <!-- Logo
        <a class="logo logohover">
            <!-- mini logo for sidebar mini 50x50 pixels -->
<!--            <span class="logo-mini"><b>PNC</b></span>-->
            <!-- logo for regular state and mobile devices -->
<!--            <span class="logo-lg"><b>PNC</b></span>
            <img class="img" src="http://pncapix.com/assets/img/top-logo.png" height="100%" alt=""/>
        </a>-->
        
        <span class="logo" style="background-color: #222d32;">
            <img class="logo-lg" src="/aipfest-demo/logo.png" style="/* padding-left:5vh; *//* height: 100%; */width: 100%;background-color: #222d32;padding-top: 1vh;">
            <img class="logo-mini" src="http://2.bp.blogspot.com/_85dCU3S-dtE/TDIVV62ddhI/AAAAAAAAA90/x3wWhnOy408/s1600/logo394.png" style="height: 100%;">
        </span>
        
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top navnew" role="navigation">
            
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                <span class="sr-only"></span>
            </a>
            
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="http://www.pdhbook.com/Images/User/default_image/User_Placeholder.png" class="user-image" alt="User Image" />
                            <span class="hidden-xs" style="color: #b8c7ce;">{{userName}}</span>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="http://www.pdhbook.com/Images/User/default_image/User_Placeholder.png" class="img-circle" alt="User Image">
                                    <h3 style="color: #b8c7ce;">{{userName}}</h3>
                            </li>
                            
                            <!-- MenuFooter-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="app.about" class="btn btn-success btn-flat">About Me</a>
                                </div>
                                <div class="pull-right">
                                    <a ui-sref="login" class="btn btn-danger btn-flat">Log Out</a>
                                </div>
                            </li>
                        </ul>
                        
                    </li>
                    
                </ul>
            </div>
            
        </nav>
        
    </header>
    
    
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">
            
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="http://www.pdhbook.com/Images/User/default_image/User_Placeholder.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info" style="color:#6c7d88">
                    <p>{{userName}}</p>
                </div>
            </div>
            
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat" data-ng-click="vm.search();">
                            <i class=" fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            
            <ul class="sidebar-menu">
                
                <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems">
                    <a ui-sref="app.{{menu.state}}" ng-if="!$last">
                        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}</span>
                    </a>
                    <a ui-sref="app.{{menu.state}}" ng-if="$last">
                        <i class="material-icons" style="font-size:16px"></i>
                        <span>     {{menu.title}}</span>
                    </a>
                </li>
                
            </ul>
        </section>
        <!-- /.sidebar -->
        
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <ui-view></ui-view>
    </div>

        
    </div>
